.wrapper {
  display: flex;
  flex-direction: column;
  width: 608px;
  height: 100%;
  overflow: hidden;
}

.place_order {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;
  overflow: hidden;
}

.place_order_price {
  display: flex;
  justify-content: end;
  align-items: center;
}

.burger_inrid_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  width: 100%;
  height: calc(100% - 240px);
  overflow: hidden;
}

.burger_inrid_inner_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: calc(100% - 160px);
  overflow: auto;
  overflow-x: hidden;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
}

.burger_inrid_inner_list::-webkit-scrollbar {
  width: 12px;
}
.burger_inrid_inner_list::-webkit-scrollbar-track {
  background: #2f2f37;
}
.burger_inrid_inner_list::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.burger_inrid_list_item {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
