.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1240px;
  align-items: center;
  overflow: hidden;
}

.content form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 1240px; */
  align-items: center;
  overflow: hidden;
}

.links {
  text-decoration: none;
  color: #4c4cff;
}
