.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order_name {
  color: #f2f2f3;
}

.order_text {
  color: #8585ad;
}

.order_second_text {
  color: #8585ad;
}
.content img {
  height: 240px;
}

.ingrid_info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 20px;
}

.ingrid_info div {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
