.wrapper {
  display: flex;
  flex-direction: column;
  width: 608px;
  height: 100%;
  /* flex: 1; */
  overflow: hidden;
  /* for delete */
  /* border: 1px solid blue; */
}

.ingridList {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  margin-left: 4px;
}

.ingrid {
  display: flex;
  flex-wrap: wrap;
}

.ingridItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 272px;
  height: 208px;
}

.ingridItem > img {
  width: 240px;
  height: 120px;
}
