.header {
  display: flex;
  justify-content: center;
  height: 88px;
  width: 100%;
  top: 40px;
  background-color: #1c1c21;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1240px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
}

.nav > div {
  width: 33%;
}

.nav > div > a {
  text-decoration: none;
}

.NavButton {
  display: flex;
  justify-content: end;
  text-decoration: none;
  background-color: #1c1c21;
  border: none;
  cursor: pointer;
  color: white;
}

.navMenuLeft {
  display: flex;
  justify-content: start;
  width: 33%;
}

.navLogo {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 33%;
}

.navMenuRight {
  display: flex;
  justify-content: end;
  width: 33%;
}
